section.contact 
    .container
        .contact__wrapper 
            .contact__content 
                h2.contact__title CONTACT US
                .contact__inner
                    form.contact__form(action="#")
                        h3.contact__form-title Leave us a message
                        input.contact__form-input(type="text", placeholder="Name", required)
                        input.contact__form-input(type="text", placeholder="Email Address", required)
                        textarea.contact__form-textarea(placeholder="Your Message", required)
                        button.contact__form-btn(type="submit") Send
                    .contact__info 
                        .contact__info-wrapper 
                            address.contact__info-address
                                | Weekend UX
                                br
                                | B 37/3 Ground Floor Double 
                                br
                                | StoryRamesh Nagar , Near Raja Garden + 
                            a.contact__info-phone(href="tel:+919599272754") +91 9599272754   
                            br
                            a.contact__info-email(href="mailto:hello@info.com.ng") hello@info.com.ng
                            ul.contact__info-social-list 
                                li.contact__info-social-item
                                    +icon("contact_social-youtube")(width="23", height="16") 
                                li.contact__info-social-item 
                                    +icon("contact_social-instagram")(width="16", height="16") 
                                li.contact__info-social-item 
                                    +icon("contact_social-facebook")(width="20", height="16")
                                li.contact__info-social-item 
                                    +icon("contact_social-twitter")(width="23", height="16") 
                            .map#map
                            script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
                            //- script(src="./js/_map.js")



