@use "sass:math";

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  // overflow: hidden;
  min-height: 100vh;
  height: 100%;
  font-family: "interRegular", sans-serif;
}

html {
  box-sizing: border-box;
}



img {
  max-width: 100%;
  height: auto;
}

// button {
//   @include button;
// }

// // h1 ... h6
// @each $headline, $size in $headlines {
//   $margin: $size * $lh;

//   #{$headline} {
//     margin: $margin 0 math.div($margin, 2);

//     font-weight: 500;
//     font-size: $size;
//   }
// }

// strong,
// b {
//   font-weight: 500;
// }

// .sr-only {
//   @include sr-only;
// }


.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-offset;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  font-size: $fs-36;
  font-family: "interSemiBold", sans-serif;
}

.about-main,
.contact-main {
  padding-top: $spaceSectionBottom;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  margin-bottom: auto;
}



section {
  margin-bottom: $spaceSectionBottom;
}