section.features
    .container 
        .features__wrapper 
            .features__img 
                +picture("./img/about-top/about-top-top@1x.png", "./img/about-top/about-top-top@2x.png").about-top__img-top 
            .features__content 
                h1.features__title Features
                h2.features__description We are always working to provide you 
                |best of the features in all aspects.
                p At WEEKENDUX the chief determination is to clear the minds of our students about their goals, 
                |while making them consistent in their ambitions 
                |and pushing them to be confident for their journey towards the course of time.
                p You will find every little thing on the internet in just a click of hand, 
                |but here we admire that without knowledge and practice the internet 
                |may even also fail you in your life.
                button.features__btn Join Us
    


